.logo {
    color: #244D4D;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    width: 147px;
    height: 30px;
    flex-shrink: 0;
    margin-right: 217px;
}
body {
    padding: 0;
    margin: 0;

}

.contentwrapper {
    padding: 44px 140px 0px 100px;
}

.menu {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    
    color: #161616;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 286px;
}

.headerRightPanel {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center; 
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 27px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 140px;
    flex-direction: column;
}
.mainContent {
    width: 790px;
    flex-shrink: 0;
    flex-direction: column;
    background: #154444;
    padding: 100px 18px 137px 100px;
    display: flex; 
}

.mainContentWrapper {
    display: flex;
    width: 1200px;
    max-height: 560px;
}

.headerText {
    color: #FFF;
    font-family: Montserrat;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.midllText {
    color: #FFF;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 125% */
    margin-bottom: 35px;

    width: 488px;
    height: 75px;
    flex-shrink: 0;
}

.Explorebtn {
    color: #154444;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 125% */

    width: 173px;
    height: 56px;
    flex-shrink: 0;
    background: #FFF;
    border: none;
}

.companies {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.companiesTxt {
    color: #244D4D;
    font-family: DM Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.logos {
   display: flex;
   justify-content: center;
   align-items:center;
   gap: 100px;
   flex-shrink: 0; 
}

.sofa {
    box-shadow: 26px 35px 0px #dee4e2, 0px 35px 0px#DEE4E2;
}

.aboutUsWrapper {
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 135px;
    width: 1168px;
}

.aboutUs {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.aboutUsHeader {    
    color: #244D4D;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 125% */
    margin-bottom: 40px;
}

.aboutUsText {
    color: #444;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 125% */
    margin-bottom: 40px;
}

.advantages {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    
}

.advantagesWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.advantagesHeading {
    color: #244D4D;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 130% */
    margin-bottom: 14px;

}

.advantagesText {
    color: #383738;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
}

.furnitureWrapper {
    display: flex;
    flex-direction: column;

    width: 1200px;
    height: 585px;
    flex-shrink: 0;
}

.furnitContentTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
    
}

.furnitContent {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 20px;
}

.priceList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;

}

.furnitTitle {
    color: #242424;
    text-align: left;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px; /* 162.5% */
}

.furnitText {
    width: 820px;
    height: 51px;
    flex-shrink: 0;

    color: #383738;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 135% */
    margin-right: 282px;
}

.btn_Arrow {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-top: 83px;
    display: flex;
    justify-content: end;
    gap: 16px;
}



a  {
    text-decoration: none;
    padding: 8px 18px;
  }
  
  a:hover {
    background-color: #ddd;
    color: #666666;
  }
  
  .previous {
    background-color: #F4F6F6;
    color: #666666;
  }
  
  .next {
    background-color: #F4F6F6;
    color: #666666;
  }
  
  .round {
    border-radius: 50%;
  }

.priceBox {
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.3);
}



  
.priceBoxText {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 24px;
    margin-right: 24px;
}

.priceTitle {
    color: #242424;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px; /* 135% */
}

.like {
    width: 26px;
    height: 26px;
    background-color: #ECF4FF;
    color: #ffffff;
    border: none;
    font-size: 15px;
    cursor: pointer;
    margin-right: 8px;
}

.share {
    width: 26px;
    height: 26px;
    flex-shrink: 0;
    background-color: #ECF4FF;
    color: #ffffff;
    border: none;
    font-size: 10px;
    cursor: pointer;
}

button, like {
    background-color: #ECF4FF;
    color: #000;
  }
  
  button:hover {
    background-color: #14A1A1;
    color: #ffffff;
  }

  like {
    text-decoration: none;
    display: inline-block;
    padding: 8px 8px;
  }

  .like {
    border-radius: 50%;
  } 

  share {
    background-color: #ECF4FF;
    color: #000;
  }
  
  share:hover {
    color: #ffffff;
    background-color: #14A1A1;
    
  }

  share {
    text-decoration: none;
    display: inline-block;
    padding: 8px 8px;
  }

  .share {
    border-radius: 50%;
  } 

.btnContent {
    margin-top: 21px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 24px;
    margin-right: 24px;
 
    
}

.price {
    color: #154444;
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 31px; /* 129.167% */
    margin-bottom: 27px;
    
}

.btnBuyNow {
    width: 79px;
    height: 32px;
    flex-shrink: 0;
    background: #244D4D;
    border: none;
    cursor: pointer;
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px; /* 175% */
}

.allFurniture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
}

.allFurnitureNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.navTitle {
    color: #242424;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 150% */
    text-align: center;
}

.navList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #919090;
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 112.5% */
    gap: 100px;

}

.navLink {
    color: inherit;
    text-decoration: none;
    position: relative;
}

a { 
    text-decoration: none; 
}
a:hover { 
    color: #154444; 
}


hr {
    color: inherit;
    text-decoration: none;
    position: relative;
    width: 57px;
    height: 2px;
       
    border: none;
    background: #154444;
    
}
hr {
    display: none;
}

a:hover hr {
    display: block
}

 
.allFurnitureBloc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 135px;
}

.btnList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    padding-top: 41px;
    padding-bottom: 32px;

}

.btnContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 33px;
}

.btnContentBloc {
    width: 222px;
    height: 90px;
    flex-shrink: 0;
    border: 2px solid #D9DCE5;
   
}

.iconContentBloc {
   padding-top: 15px;
   color: #666666;
}

iconContentBloc:hover {
  
    fill: #ffffff;
}


p btnContentBlocText {
    color: #808080;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px; /* 131.25% */
 
}

.customersBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 101px;
}

.rightContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}

.customersBlockTitle {
    width: 535px;
    color: #242424;
    text-align: left;
    color: #242424;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 150% */
    margin-top: 105px;
    margin-bottom: 20px;
}

.customersBlockText {
    width: 535px;
    height: 75px;
    flex-shrink: 0;
    color: #383738;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 135% */    
}

.customer {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    
    border-radius: 50px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat, #C4C4C4;
}

.customerGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;

    width: 129px;
    height: 50px;
    flex-shrink: 0;
    margin-top: 40px;
    margin-bottom: 105px;
}

.customerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.customerName {
    color: #000;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px; /* 118.75% */
}

.customerStar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 6px;
    gap: 8px;
}

.customerRaiting {
    color: #000;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px; /* 107.143% */
    margin-top: 2px;
}   

.blockEmail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

    width: 1200px;
    height: 394px;
    flex-shrink: 0;

    background: #F4F6F6;
    margin-bottom: 140px;
}

.blockEmailTitle {
    width: 605px;
    margin-bottom: 20px;

    color: #222;
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 150% */
}

.blockEmailText {
    width: 493px;
    margin-bottom: 40px;

    color: #222;
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    width: 472px;
    height: 67px;
    flex-shrink: 0;
    background: #FFF;
    border: none;
    margin-bottom: 55px;
    
}

.form-mail {
    margin-right: 100px;
    border: none;
    color: #BABABA;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
    

}

.blockEmailForm {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-left: 18px;
    
    border: none;
    
}

.iconEmail {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.form_btn {
    width: 125px;
    height: 52px;
    flex-shrink: 0;

    background: #305F64;
    color: #ffffff;
    border: none;
   
}

button, form_btn {
    background-color: #ECF4FF;
    color: #000;
  }
  
  button:hover {
    background-color: #14A1A1;
    color: #ffffff;
  }

.footer {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    align-self: stretch;
    flex-direction: column;
    justify-content: center;
    background: #305F64;
    margin-left: 0;
    margin-right: 0;

}

.footerTop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 102px;
}

.footerFirst {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    margin-left: 120px;
}

.footerTitle {
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
}

.footerText {
    width: 308px;

    color: #FFF;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    margin-bottom: 40px;
}

.footerMidle {
    width: 117px;

    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 130% */
    
}

.socialNetwork {
    display: flex;
    width: 125px;
    height: 20px;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    flex-shrink: 0;
    margin-top: 20px;
    margin-bottom: 61px;
}

.footer_link_logo {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    padding: 0;
}

.footerSecond {
    display: flex;
    flex-direction: column;
}

.footerTitle {
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;

}

.footer_links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    
}

a {
    color: #FFF;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding: 0;

}

.footerThird {
    display: flex;
    flex-direction: column;
}

.footerFifth {
    display: flex;
    flex-direction: column;
    width: 240px;
    flex-shrink: 0;
    margin-right: 133px;
}

.footerForm {
    display: flex;
    flex-direction: row;

    width: 253px;
    height: 48px;
    flex-shrink: 0;

    background: #FFF;
    border: none;
}

.footerFormEmail {
    border: none;
    margin-left: 22px;

    color: #859395;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.footer_btn {
    cursor: pointer;
    background-color: #ffffff;
    border: none;
    margin-right: 12px;
}

hr {
    border-top: 1px solid #407980;
    margin-bottom: 20px;
    
   }

.bottom {
    border-top: 1px solid #407980;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #FFF;
    font-family: DM Sans;
    font-size: 18px;
    
}









